{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": [
    "prettier-plugin-autocorrect",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./src/app/globals.css"
}